{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div id="page-top" class="wide">
        <!-- Single Service Item ////////// Just this Section is changed! -->
        <div id="user">
            <div class="row">
                <div class="col-lg-12">
                    <div class="user-form">
                        <h1>{% translate "Contact us" %}</h1>
                        <hr>
                        thanks for your message
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}