[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
az-iranian-bank-gateways = "==1.6.*"
celery = "==5.2.*"
django-filer = "==2.2.*"
django-jalali = "==6.0.*"
django-modeltranslation = "==0.18.*"
django-simple-captcha = "==0.5.*"
django-sitetree = "==1.17.*"
django-tinymce = "==3.4.*"
django-vanilla-views = "==3.0.*"
psycopg2-binary = "==2.9.*"
redis = "==4.1.*"
django = "==3.2.*"
pillow = "==9.1.*"
mock = "==4.0.*"
django-filter = "==21.1.*"
gunicorn = "==20.1.*"
django-admin-honeypot = "==1.1.*"
django-dbbackup = "==4.0.1"
django-import-export = "*"

[dev-packages]
django-debug-toolbar = "==3.2.*"
model-bakery = "==1.7.*"

[requires]
python_version = "3.8"

[packages.python-slugify]
extras = [ "unidecode",]
version = "==6.1.*"
