{% load i18n %}
{% for address in addresses %}
    <div>
        <div class="d-flex justify-content-between m-3">
            <div class="">
                <h5 class="px-5">{{ address.address }}</h5>
            </div>
            <div class="">
                <span><i class="px-5 fas fa-ellipsis-h"></i></span>
            </div>
        </div>
        <p><i class="fa fa-city"></i> &nbsp;{{ address.city }}</p>
        <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;{{ address.postal_code }}</p>
        <p><i class="fa fa-phone"></i>&nbsp;&nbsp;{{ address.phone_number }}</p>
        <hr>
    </div>
{% endfor %}

