{% load i18n %}
{% for address in addresses %}
    <div class="row">
        <div class="col-8">
            <h5 class="">{{ address.address }}</h5>
            <p><i class="fa fa-city"></i> &nbsp;{{ address.city }}</p>
            <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;{{ address.postal_code }}</p>
            <p><i class="fa fa-phone"></i>&nbsp;&nbsp;{{ address.phone_number }}</p>
            <hr>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column bd-highlight mb-3 ">
                <div class="p-2 mr-auto bd-highlight">
                    <p class="btn btn-outline-dark btn-round"
                       id="edit-{{ address.pk }}"
                       style="background-color: #e3d88e;"
                       data-toggle="modal"
                       data-target="#editAddress"
                       data-pk="{{ address.pk }}"
                       onclick="onEditClick()"
                    >{% translate "Edit" %}</p>
                </div>
                <div class="p-2 mr-auto bd-highlight">
                    <p class="btn btn-outline-dark btn-round"
                       id="delete-{{ address.pk }}"
                       style="background-color: #ff7f50;"
                       data-toggle="modal"
                       data-target="#deleteAddress"
                       data-pk="{{ address.pk }}"
                       onclick="onDeleteClick()"
                    >{% translate "Delete" %}</p>
                </div>
            </div>
        </div>
    </div>

{% endfor %}


