{% load i18n %}
{% spaceless %}
    <div style="height: 70px">
        <label>{% translate "Enter security code" %} </label>
        <img id="id_captcha_img" src="{{ image }}" alt="captcha" class="captcha mx-2"/>
        {% for widget in widget.subwidgets %}
            {% include widget.template_name %}
        {% endfor %}
    </div>


    <style>
        #id_captcha_1 {
            width: 60%;
            height: 21px;
            float: left;
            border: 1px solid var(--border-color);
            border-radius: 4px;
            padding: 5px 6px;
            margin-top: 5px;
            color: var(--body-fg);
            background-color: var(--body-bg);
        }

        #id_captcha_img {
            width: 30%;
            float: right;
        }
    </style>
    <script>
        $(function () {
            // Add refresh button after field (this can be done in the template as well)
            $('img.captcha').before(
                $('<a href="#void" class="captcha-refresh m-2"><i class="fa fa-refresh" aria-hidden="true"></i></a>')
            );

            // Click-handler for the refresh-link
            $('.captcha-refresh').click(function () {
                var $form = $(this).parents('form');
                var url = location.protocol + "//" + window.location.hostname + ":"
                    + location.port + "/captcha/refresh/";

                // Make the AJAX-call
                $.getJSON(url, {}, function (json) {
                    $form.find('input[name="captcha_0"]').val(json.key);
                    $form.find('img.captcha').attr('src', json.image_url);
                });

                return false;
            });
        });
    </script>
{% endspaceless %}