{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block page_header %}

{% endblock page_header %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">خانه</a></li>
                <li class="breadcrumb-item"><a href="#">صفحات</a></li>
                <li class="breadcrumb-item active" aria-current="page">ورود</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
{% endblock breadcrumb %}

{% block page_content %}
    {% if next %}
        <script>
            alertify.warning("{% translate "Your account doesn't have access to this page. To proceed, please login with an account that has access" %}");
        </script>
    {% endif %}
    {% if form.errors %}
        {% for error in form.non_field_errors %}
            <script>
                alertify.error("{{ error }}");
            </script>
        {% endfor %}
    {% endif %}
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
         style="background-image: url({% static 'core/en/images/backgrounds/login-bg.jpg' %})">
        <div class="container">
            <div class="form-box">
                <h4 class="text-right">{% translate "Login" %}&nbsp/&nbsp<a href="{% url "account:signup" %}">{% translate "Signup" %}</a></h4>
                <form method="post" action="{% url 'account:login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="singin-email-2">{{ form.username.label_tag }}</label>
                        {{ form.username }}
                        {{ form.username.errors }}
                        {% if form.username.help_text %}
                            <p class="help">{{ form.username.help_text|safe }}</p>
                        {% endif %}
                    </div><!-- End .form-group -->

                    <div class="form-group">
                        <label for="singin-password-2">{{ form.password.label_tag }}</label>
                        {{ form.password.errors }}
                        {{ form.password }}
                        {% if form.password.help_text %}
                            <p class="help">{{ form.password.help_text|safe }}</p>
                        {% endif %}
                    </div><!-- End .form-group -->

                    <div class="form-group">
                        {{ form.captcha.errors }}
                        {{ form.captcha }}
                        {% if form.captcha.help_text %}
                            <p class="help">{{ form.captcha.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    <div class="form-tab">
                        <div class="form-footer">
                            <input type="hidden" name="next" value="{{ next }}">
                            <button type="submit" class="btn btn-outline-primary-2">
                                <span>ورود</span>
                                <i class="icon-long-arrow-left"></i>
                            </button>

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                       id="signin-remember-2">
                                <label class="custom-control-label" for="signin-remember-2">مرا به خاطر
                                    بسپار</label>
                            </div><!-- End .custom-checkbox -->

                            <a href="{% url "account:password_reset" %}" class="forgot-link">رمز عبور خود را فراموش کرده
                                اید؟</a>
                        </div><!-- End .form-footer -->
                    </div>
                </form>
            </div>
        </div>
    </div><!-- End .login-page section-bg -->
{% endblock page_content %}
{% block content2 %}
    {% if form.errors %}
        {% for error in form.non_field_errors %}
            <script>
                alertify.error("{{ error }}");
            </script>
        {% endfor %}
    {% endif %}
    <div id="page-top" class="wide">
        <!-- Single Service Item ////////// Just this Section is changed! -->
        <div id="user">
            <div class="row">
                <div class="col-lg-6">
                    <div class="user-form">
                        <h1>{% translate "Login" %}</h1>
                        <hr>
                        {% if next %}
                            {% translate "Your account doesn't have access to this page. To proceed, please login with an account that has access" %}
                        {% else %}
                            {% translate "Login" %}
                        {% endif %}
                        <form method="post" action="{% url 'account:login' %}">
                            <div class="row">
                                {% csrf_token %}

                                <div class="form-group col-md-6">
                                    <div>
                                        {{ form.username.label_tag }}
                                    </div>
                                    {{ form.username }}
                                    {{ form.username.errors }}
                                    {% if form.username.help_text %}
                                        <p class="help">{{ form.username.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.password.errors }}
                                    {{ form.password.label_tag }}
                                    {{ form.password }}
                                    {% if form.password.help_text %}
                                        <p class="help">{{ form.password.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                                {{ form.captcha.errors }}
                                {{ form.captcha }}
                            </div>
                            <button type="submit" class="mt-1 btn btn-primary">{% translate "Login" %}</button>
                            <a href="{% url "account:password_reset" %}"
                               class="mt-1 btn btn-warning">{% translate "Forget Password" %}</a>
                            <input type="hidden" name="next" value="{{ next }}">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    {% if form.errors %}#}
    {#        <p>Your username and password didn't match. Please try again.</p>#}
    {#    {% endif %}#}
    {#    <form method="post" action="{% url 'account:login' %}">#}
    {#        {% csrf_token %}#}
    {#        {{ form }}#}
    {#        <input type="submit" value="login">#}
    {#        <input type="hidden" name="next" value="{{ next }}">#}
    {#    </form>#}

{% endblock content2 %}