{% load i18n %}
<form id="password-change-form">
    {% csrf_token %}
    <div class="form-group mt-2">
        <div>
            {{ password_change_form.old_password.label_tag }}
        </div>
        {{ password_change_form.old_password }}
        {{ password_change_form.old_password.errors }}
        {% if password_change_form.old_password.help_text %}
            <p class="help">{{ password_change_form.old_password.help_text|safe }}</p>
        {% endif %}
    </div>
    <div class="form-group ">

        <div>
            {{ password_change_form.new_password1.label_tag }}
        </div>
        {{ password_change_form.new_password1 }}
        {{ password_change_form.new_password1.errors }}
    </div>
    <div class="form-group ">

        <div>
            {{ password_change_form.new_password2.label_tag }}
        </div>
        {{ password_change_form.new_password2 }}
        {{ password_change_form.new_password2.errors }}
        {% if password_change_form.new_password2.help_text %}
            <p class="help">{{ password_change_form.new_password2.help_text|safe }}</p>
        {% endif %}
    </div>
    {{ password_change_form.captcha.errors }}
    {{ password_change_form.captcha }}
    <input type="hidden" name="next" value="{{ next }}">
    <button id="passwordChangeSubmit" onclick="onPasswordChangeSubmit()" class="btn btn-warning mt-2">{% translate "Change password" %}</button>

</form>