{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}
    <div id="page-top" class="wide">
        <div id="change_password">
            <div class="row">
                <div class="col">
                    <div class="user-form">
                        <h1>{% translate "Profile" %}</h1>
                        <hr>
                        <p>
                            {% translate "Your password has been set. You may go ahead and sign in now" %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}