{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}
    <div id="page-top" class="wide">
        <!-- Single Service Item ////////// Just this Section is changed! -->
        <div id="change_password">
            <div class="row">
                <div class="col">
                    <div class="user-form">
                        <h1>{% translate "Profile" %}</h1>
                        <hr>
                        <p>
                            {% translate "your password succesfuly changed" %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}