{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}

    <div id="page-top" class="wide">
        <!-- Single Service Item ////////// Just this Section is changed! -->
        <div id="user">
            <div class="row">
                <div class="col-lg-6">
                    <div class="user-form">
                        <h1>{% translate "did you forget your password?" %}</h1>
                        <hr>
                        <p>{% translate "enter your email to reset your password" %}</p>
                        <form method="post">
                            <div class="row">
                                {% csrf_token %}
                                <div class="form-group col-md-6">

                                    <div>
                                        {{ form.email.label_tag }}
                                    </div>
                                    {{ form.email }}
                                    {{ form.email.errors }}
                                    {% if form.email.help_text %}
                                        <p class="help">{{ form.email.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                                {{ form.captcha }}
                                {{ form.captcha.errors }}


                            </div>
                            <button type="submit" class="btn btn-warning">{% translate "reset" %}</button>
                            <input type="hidden" name="next" value="{{ next }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}