{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block page_header %}

{% endblock page_header %}
{% block breadcrumb %}

{% endblock breadcrumb %}

{% block page_content %}
    {% if form.errors %}
        {% for error in form.non_field_errors %}
            <script>
                alertify.error("{{ error }}");
            </script>
        {% endfor %}
    {% endif %}
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
         style="background-image: url({{ page.background_image.url }})">
        <div class="container">
            <div class="form-box">
                <h4 class="text-right">{{ page.text_head }}</h4>
                <hr>
                <p>{{ page.text_help }}</p>
                <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div>
                                {{ form.email.label_tag }}
                            </div>
                            {{ form.email }}
                            {{ form.email.errors }}
                            {% if form.email.help_text %}
                                <p class="help">{{ form.email.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        {{ form.captcha }}
                        {{ form.captcha.errors }}
                    <button type="submit" class="btn btn-warning">{% translate "reset" %}</button>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block content2 %}

    <div id="page-top" class="wide">
        <!-- Single Service Item ////////// Just this Section is changed! -->
        <div id="user">
            <div class="row">
                <div class="col-lg-6">
                    <div class="user-form">
                        <h1>{% translate "did you forget your password?" %}</h1>
                        <hr>
                        <p>{% translate "enter your email to reset your password" %}</p>
                        <form method="post">
                            <div class="row">
                                {% csrf_token %}
                                <div class="form-group col-md-6">

                                    <div>
                                        {{ form.email.label_tag }}
                                    </div>
                                    {{ form.email }}
                                    {{ form.email.errors }}
                                    {% if form.email.help_text %}
                                        <p class="help">{{ form.email.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                                {{ form.captcha }}
                                {{ form.captcha.errors }}


                            </div>
                            <button type="submit" class="btn btn-warning">{% translate "reset" %}</button>
                            <input type="hidden" name="next" value="{{ next }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}