{% extends "core/base.html" %}
{% load i18n %}
{% block content %}
    <div id="page-top" class="wide">
        <!-- Single Service Item ////////// Just this Section is changed! -->
        <div id="user">
            <div class="row">
                <div class="col-lg-6">
                    <div class="user-form">
                        <h1>{% translate "did you forget your password?" %}</h1>
                        <hr>
                        <p>{% translate "enter your email to reset your password" %}</p>
                        <form method="post">
                            <div class="row">
                                {% csrf_token %}
                                <div class="form-group col-md-6">
                                    <div>
                                        {{ form.old_password.label_tag }}
                                    </div>
                                    {{ form.old_password }}
                                    {{ form.old_password.errors }}
                                    {% if form.old_password.help_text %}
                                        <p class="help">{{ form.old_password.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6">

                                    <div>
                                        {{ form.new_password1.label_tag }}
                                    </div>
                                    {{ form.new_password1 }}
                                     {{ form.new_password1.errors }}
                                </div>
                                <div class="form-group col-md-6">

                                    <div>
                                        {{ form.new_password2.label_tag }}
                                    </div>
                                    {{ form.new_password2 }}
                                    {{ form.new_password2.errors }}
                                    {% if form.new_password2.help_text %}
                                        <p class="help">{{ form.new_password2.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                                {{ form.captcha.errors }}
                                {{ form.captcha }}
                            </div>
                            <button type="submit" class="btn btn-warning">{% translate "reset" %}</button>
                            <input type="hidden" name="next" value="{{ next }}">
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 mt-5">
                    {% if form.new_password1.help_text %}
                        <p class="help">{{ form.new_password1.help_text|safe }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}