{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}
    <div id="page-top" class="wide">
        <div id="change_password">
            <div class="row">
                <div class="col">
                    <div class="user-form">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home" type="button"
                                        role="tab" aria-controls="home" aria-selected="true">
                                    <h1>{% translate "Profile" %}</h1>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                        type="button"
                                        role="tab" aria-controls="profile" aria-selected="false">
                                    <h1>{% translate "Purchases" %}</h1>
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active mt-4" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <p>{% translate "username" %} : {{ user.username }}</p>
                                <p>{% translate "first_name" %} : {{ user.first_name }}</p>
                                <p>{% translate "last_name" %} : {{ user.last_name }}</p>
                                <p>{% translate "email" %} : {{ user.email }}</p>
                                <p>{% translate "profile_picture" %} : <img src="{{ user.profile_picture.url }}"
                                                                            class="img-thumbnail"
                                                                            style="max-height: 200px"
                                                                            alt="{% translate "profile_picture" %}"></p>
                                <p>{% translate "address" %} : {{ user.address }}</p>
                                <a href="{% url "account:logout" %}"
                                   class="btn btn-outline-danger btn-equal">{% translate "logout" %}</a>
                                <a href="{% url "account:password_reset" %}"
                                   class="btn btn-outline-danger btn-equal">{% translate "password reset" %}</a>
                                <a href="{% url "account:password_change" %}"
                                   class="btn btn-outline-danger btn-equal">{% translate "password change" %}</a>
                            </div>
                            <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div id="page-top" class="wide">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col" style="width: 70%">عنوان</th>
                                            <th scope="col" style="width: 140px; text-align: center;">لینک</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in purchase %}
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>{{ item.title }}</td>
                                                <td>
                                                    <a  href="{{ item.get_absolute_url }}" class="btn btn-outline-primary btn-equal">
                                                        مشاهده
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}