{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block page_header %}
    <div class="page-header text-center"
         style="background-image: url({{ page.header_background.url }})">
        <div class="container">
            <h1 class="page-title">{{ page.header_text_big }}<span>{{ page.header_text_small }}</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
{% endblock page_header %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-1.html">خانه</a></li>
                <li class="breadcrumb-item"><a href="#">فروشگاه</a></li>
                <li class="breadcrumb-item active" aria-current="page">داشبورد</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
{% endblock breadcrumb %}

{% block page_content %}
    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                   href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                   aria-selected="true">
                                    {{ page.menu_dashboard }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders"
                                   role="tab" aria-controls="tab-orders"
                                   aria-selected="false">
                                    {{ page.menu_orders }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                   role="tab" aria-controls="tab-address"
                                   aria-selected="false">
                                    {{ page.menu_address }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                   role="tab" aria-controls="tab-account"
                                   aria-selected="false">
                                    {{ page.menu_profile }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-password"
                                   role="tab" aria-controls="tab-password"
                                   aria-selected="false">
                                    {{ page.menu_password_change }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account:logout' %}">
                                    {{ page.menu_logout }}
                                </a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8  col-lg-9">
                        <div class="tab-content px-3 mx-3">
                            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                 aria-labelledby="tab-dashboard-link">
                                <p>Lorem ipsum</p>
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-orders" role="tabpanel"
                                 aria-labelledby="tab-orders-link">
                                {% if orders %}
                                    {% for order in orders %}
                                        <p>{{ order.id }}</p>
                                    {% endfor %}
                                {% else %}
                                    <p>سفارش جدیدی وجود ندارد</p>
                                    <a href="category.html" class="btn btn-outline-primary-2"><span>رفتن به
                                                فروشگاه</span><i class="icon-long-arrow-left"></i></a>
                                {% endif %}

                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-downloads" role="tabpanel"
                                 aria-labelledby="tab-downloads-link">
                                <p>دانلود جدیدی وجود ندارد</p>
                                <a href="category.html" class="btn btn-outline-primary-2"><span>رفتن به
                                                فروشگاه</span><i class="icon-long-arrow-left"></i></a>
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                 aria-labelledby="tab-address-link">
                                {#                                <p>آدرسی که اینجا ثبت می کنید به صورت پیش فرض برای ارسال محصولات به شما استفاده#}
                                {#                                    می شود.</p>#}
                                <div class="card card-dashboard">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between mb-3">
                                            <div class="">
                                                <h3 class="card-title mt-1">{% translate "Your addresses" %}</h3>
                                            </div>
                                            <div class="">
                                                <button type="button"
                                                        class="btn btn-outline-dark btn-round"
                                                        data-toggle="modal"
                                                        data-target="#newAddress">
                                                    {% translate "New Address +" %}
                                                </button>
                                            </div>
                                        </div>
                                        <div id="addressList">
                                            {% include "account/address_list.html" %}
                                        </div>
                                    </div><!-- End .card-body -->
                                </div><!-- End .card-dashboard -->

                            </div><!-- .End .tab-pane -->
                            <!-- Button trigger modal -->


                            <div class="tab-pane fade" id="tab-account" role="tabpanel"
                                 aria-labelledby="tab-account-link">
                                <div id="edit-profile-div">
                                    {% include "account/edit_profile_form.html" %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-password" role="tabpanel"
                                 aria-labelledby="tab-account-link">
                                <div id="password-reset-div">
                                    {% include "account/password_change_form.html" %}
                                </div>
                            </div>
                        </div><!-- .End .tab-pane -->
                    </div>
                </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .dashboard -->
    </div><!-- End .page-content -->



    <!-- Modal -->
    <div class="modal fade" id="newAddress" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">{% translate "Add new address" %}</h5>
                </div>
                <form id="newAddressForm">
                    {% csrf_token %}
                    <div class="modal-body p-5">
                        <div class="row">
                            <div class="col-4 form-req-text">
                                {{ new_address_form.owner }}
                                {{ new_address_form.province.label_tag }}
                                {{ new_address_form.province }}
                                {{ new_address_form.province.errors.as_text }}
                            </div>
                            <div class="col-4 form-req-text">
                                {{ new_address_form.city.label_tag }}
                                {{ new_address_form.city }}
                                {{ new_address_form.city.errors.as_text }}
                            </div>
                            <div class="col-4 form-req-text">
                                {{ new_address_form.area.label_tag }}
                                {{ new_address_form.area }}
                                {{ new_address_form.area.errors.as_text }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-req-text">
                                {{ new_address_form.phone_number.label_tag }}
                                {{ new_address_form.phone_number }}
                                {{ new_address_form.phone_number.errors.as_text }}
                            </div>
                            <div class="col-6 form-req-text">
                                {{ new_address_form.postal_code.label_tag }}
                                {{ new_address_form.postal_code }}
                                {{ new_address_form.postal_code.errors.as_text }}
                            </div>
                        </div>
                        <div class="form-req-text">
                            {{ new_address_form.address.label_tag }}
                            {{ new_address_form.address }}
                            {{ new_address_form.address.errors.as_text }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary mx-2" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="{% translate "Save changes" %}">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editAddress" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">{% translate "Edit address" %}</h5>
                </div>
                <div id="editAddressModel">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border mt-10 mb-10" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteAddress" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">{% translate "Delete address" %}</h5>
                </div>
                <div id="deleteAddressModel">
                    <div class="d-flex justify-content-center ">
                        <div class="spinner-border mt-10 mb-10" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var newAddressForm = document.getElementById('newAddressForm');
        var addressListDiv = document.getElementById('addressList');
        var editProfileDiv = document.getElementById('edit-profile-div');
        var passwordResetDiv = document.getElementById('password-reset-div');
        var deleteAddressModel = document.getElementById('deleteAddressModel');
        var editAddressModel = document.getElementById('editAddressModel');

        function onPasswordChangeSubmit() {
            event.preventDefault()
            var form = document.querySelector("#password-change-form")
            var formData = new FormData(form);
            var url = "{% url 'account:password_change'  %}"
            fetch(url,
                {
                    method: 'post',
                    body: formData,
                }
            ).then(function (response) {
                    if (response.status === 200) {
                        return response.text();
                    } else {
                        throw "connection Error"
                    }
                }
            ).then(function (text) {
                    passwordResetDiv.innerHTML = text;
                    alert("{% translate "succesfully saved" %}")
                }
            ).catch(function (error) {
                    console.log('error', error)
                    alert(error)
                }
            )
        }

        function onProfileFormSubmit() {
            event.preventDefault()
            var form = document.querySelector("#update-profile-form")
            var formData = new FormData(form);
            var url = "{% url 'account:update-profile'  %}"
            fetch(url,
                {
                    method: 'post',
                    body: formData,
                }
            ).then(function (response) {
                    if (response.status === 200) {
                        return response.text();
                    } else {
                        throw "connection Error"
                    }
                }
            ).then(function (text) {
                    editProfileDiv.innerHTML = text;
                    alert("{% translate "succesfully saved" %}")
                }
            ).catch(function (error) {
                    console.log('error', error)
                    alert(error)
                }
            )

        }

        function onEditClick() {
            var url = "{% url "account:edit-address" "ffffffff-ffff-ffff-ffff-ffffffffffff" %}"
            url = url.replace("ffffffff-ffff-ffff-ffff-ffffffffffff", event.target.dataset.pk);
            fetch(url
                ,
                {
                    method: 'get',
                }
            ).then(function (response) {
                    if (response.status === 200) {
                        return response.text();
                    } else {
                        throw "connection Error"
                    }
                }
            ).then(function (text) {
                    editAddressModel.innerHTML = text;
                }
            ).catch(function (error) {
                    console.log('error', error)
                }
            )
        }

        function onDeleteClick(ev) {
            var url = "{% url "account:delete-address" "ffffffff-ffff-ffff-ffff-ffffffffffff" %}"
            url = url.replace("ffffffff-ffff-ffff-ffff-ffffffffffff", event.target.dataset.pk);
            fetch(url
                ,
                {
                    method: 'get',
                }
            ).then(function (response) {
                    if (response.status === 200) {
                        return response.text();
                    } else {
                        throw "connection Error"
                    }
                }
            ).then(function (text) {
                    $('#deleteAddress').show()
                    deleteAddressModel.innerHTML = text;
                }
            ).catch(function (error) {
                    console.log('error', error)
                }
            )
        }

        function onDeleteFormSubmit() {
            var form = document.querySelector(`#deleteAddressForm-${event.target.dataset.pk}`)
            var formData = new FormData(form);
            var response_value = {}
            var url = "{% url "account:delete-address" "ffffffff-ffff-ffff-ffff-ffffffffffff" %}"
            url = url.replace("ffffffff-ffff-ffff-ffff-ffffffffffff", event.target.dataset.pk);
            fetch(url,
                {
                    method: 'post',
                    body: formData,
                }
            ).then(function (response) {
                    if (response.status === 200) {
                        response_value = response
                        return response.text();
                    } else {
                        throw "connection Error"
                    }
                }
            ).then(function (text) {

                    if (response_value.url.includes("{% url "account:list-address" %}")) {
                        addressListDiv.innerHTML = text;
                        $('#deleteAddress').modal('hide')
                    } else {
                        editAddressModel.innerHTML = text;
                    }
                }
            ).catch(function (error) {
                    console.log('error', error)
                }
            )

        }


        function onEditFormSubmit() {
            var form = document.querySelector(`#editAddressForm-${event.target.dataset.pk}`)
            var formData = new FormData(form);
            var response_value = {}
            var url = "{% url "account:edit-address" "ffffffff-ffff-ffff-ffff-ffffffffffff" %}"
            url = url.replace("ffffffff-ffff-ffff-ffff-ffffffffffff", event.target.dataset.pk);
            fetch(url,
                {
                    method: 'post',
                    body: formData,
                }
            ).then(function (response) {
                    if (response.status === 200) {
                        response_value = response
                        return response.text();
                    } else {
                        throw "connection Error"
                    }
                }
            ).then(function (text) {

                    if (response_value.url.includes("{% url "account:list-address" %}")) {
                        addressListDiv.innerHTML = text;
                        $('#editAddress').modal('hide')
                    } else {
                        editAddressModel.innerHTML = text;
                    }
                }
            ).catch(function (error) {
                    console.log('error', error)
                }
            )

        }


        function onNewAddressFormSubmit(e) {
            e.preventDefault();
            var formData = new FormData(this);
            fetch(
                "{% url "account:create-address" %}",
                {
                    method: 'post',
                    body: formData,
                }
            ).then(function (response) {
                    if (response.status === 200) {
                        return response.text();

                    } else {
                        throw "connection Error"
                    }
                }
            ).then(function (text) {
                    addressListDiv.innerHTML = text;
                    newAddressForm.reset()
                }
            ).catch(function (error) {
                    console.log('error', error)
                }
            )
        }

        newAddressForm.addEventListener('submit', onNewAddressFormSubmit)
    </script>
{% endblock page_content %}