{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block page_header %}
    <div class="page-header text-center"
         style="background-image: url({{ page.header_background.url }})">
        <div class="container">
            <h1 class="page-title">{{ page.header_text_big }}<span>{{ page.header_text_small }}</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
{% endblock page_header %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-1.html">خانه</a></li>
                <li class="breadcrumb-item"><a href="#">فروشگاه</a></li>
                <li class="breadcrumb-item active" aria-current="page">داشبورد</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
{% endblock breadcrumb %}

{% block page_content %}
    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                   href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                   aria-selected="true">
                                    {% translate "Dashboard" %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders"
                                   role="tab" aria-controls="tab-orders"
                                   aria-selected="false">{% translate "Orders" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                   role="tab" aria-controls="tab-address"
                                   aria-selected="false">{% translate "Address" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                   role="tab" aria-controls="tab-account"
                                   aria-selected="false">{% translate "Account Information" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account:logout' %}">{% translate "Logout" %}</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8  col-lg-9">
                        <div class="tab-content px-3 mx-3">
                            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                 aria-labelledby="tab-dashboard-link">
                                <p>Lorem ipsum</p>
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-orders" role="tabpanel"
                                 aria-labelledby="tab-orders-link">
                                {% if orders %}
                                    {% for order in orders %}
                                        <p>{{ order.id }}</p>
                                    {% endfor %}
                                {% else %}
                                    <p>سفارش جدیدی وجود ندارد</p>
                                    <a href="category.html" class="btn btn-outline-primary-2"><span>رفتن به
                                                فروشگاه</span><i class="icon-long-arrow-left"></i></a>
                                {% endif %}

                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-downloads" role="tabpanel"
                                 aria-labelledby="tab-downloads-link">
                                <p>دانلود جدیدی وجود ندارد</p>
                                <a href="category.html" class="btn btn-outline-primary-2"><span>رفتن به
                                                فروشگاه</span><i class="icon-long-arrow-left"></i></a>
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                 aria-labelledby="tab-address-link">
                                {#                                <p>آدرسی که اینجا ثبت می کنید به صورت پیش فرض برای ارسال محصولات به شما استفاده#}
                                {#                                    می شود.</p>#}
                                {% include "account/address_list.html" %}
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-account" role="tabpanel"
                                 aria-labelledby="tab-account-link">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                    <button type="submit" class="btn btn-outline-primary-2 float-right">
                                        <span>ذخیره تغییرات</span>
                                        <i class="icon-long-arrow-left"></i>
                                    </button>
                                </form>
                                <div>

                                </div>
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
{% endblock page_content %}


{% block content2 %}
    <div id="page-top" class="wide">
        <div id="change_password">
            <div class="row">
                <div class="col">
                    <div class="user-form">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home" type="button"
                                        role="tab" aria-controls="home" aria-selected="true">
                                    <h1>{% translate "Profile" %}</h1>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                        type="button"
                                        role="tab" aria-controls="profile" aria-selected="false">
                                    <h1>{% translate "Purchases" %}</h1>
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active mt-4" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <p>{% translate "username" %} : {{ user.username }}</p>
                                <p>{% translate "first_name" %} : {{ user.first_name }}</p>
                                <p>{% translate "last_name" %} : {{ user.last_name }}</p>
                                <p>{% translate "email" %} : {{ user.email }}</p>
                                <p>{% translate "profile_picture" %} : <img src="{{ user.profile_picture.url }}"
                                                                            class="img-thumbnail"
                                                                            style="max-height: 200px"
                                                                            alt="{% translate "profile_picture" %}"></p>
                                <p>{% translate "address" %} : {{ user.address }}</p>
                                <a href="{% url "account:logout" %}"
                                   class="btn btn-outline-danger btn-equal">{% translate "logout" %}</a>
                                <a href="{% url "account:password_reset" %}"
                                   class="btn btn-outline-danger btn-equal">{% translate "password reset" %}</a>
                                <a href="{% url "account:password_change" %}"
                                   class="btn btn-outline-danger btn-equal">{% translate "password change" %}</a>
                            </div>
                            <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div id="page-top" class="wide">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col" style="width: 70%">عنوان</th>
                                            <th scope="col" style="width: 140px; text-align: center;">لینک</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in purchase %}
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>{{ item.title }}</td>
                                                <td>
                                                    <a href="{{ item.get_absolute_url }}"
                                                       class="btn btn-outline-primary btn-equal">
                                                        مشاهده
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}