{% extends "core/base.html" %}
{% load i18n %}
{% load jformat %}
{% load static %}

{% block page_header %}
    <div class="page-header text-center"
         style="background-image: url({% static 'core/en/images/page-header-bg.jpg' %})">
        <div class="container">
            <h1 class="page-title">لیست<span>اخبار</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
{% endblock page_header %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-1.html">خانه</a></li>
                <li class="breadcrumb-item"><a href="#">اخبار</a></li>
                <li class="breadcrumb-item active" aria-current="page">لیست</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
{% endblock breadcrumb %}

{% block page_content %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    {#                    {% for post in page_obj %}#}
                    {#                        <div class="col-4 blog-single">#}
                    {#                            <div class="blog-image">#}
                    {#                                <a class="post-title" href="{{ post.get_absolute_url }}"><h1>{{ post.title }}</h1></a>#}
                    {#                                <strong class="post-date">{{ post.pub_date|jformat:'%Y/%m/%d' }}</strong>#}
                    {#                                <a href="{{ post.get_absolute_url }}">#}
                    {#                                    <img class="" src="{{ post.picture.url }}" alt="">#}
                    {#                                </a>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    {% endfor %}#}
                    {% for post in page_obj %}
                        <article class="entry entry-list">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <figure class="entry-media">
                                        <a href="{{ post.get_absolute_url }}">
                                            <img src="{{ post.picture.url }}" alt="{{ post.picture.alt }}">
                                        </a>
                                    </figure><!-- End .entry-media -->
                                </div><!-- End .col-md-5 -->

                                <div class="col-md-7">
                                    <div class="entry-body">
                                        <div class="entry-meta">
                                            <a href="#">{{ post.pub_date|jformat:'%Y/%m/%d' }}</a>
                                            <span class="meta-separator">|</span>
                                            <a href="#">2 دیدگاه</a>
                                        </div><!-- End .entry-meta -->

                                        <h2 class="entry-title">
                                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                        </h2><!-- End .entry-title -->

                                        <div class="entry-cats">
                                            {% for category in categories %}
                                                <a href="{% url "blog:category" category.0 %}">
                                                    {{ category.0 }}
                                                </a>&nbsp
                                            {% endfor %}
                                        </div><!-- End .entry-cats -->

                                        <div class="entry-content">
                                            {{ post.intro | safe }}
                                            <a href="{{ post.get_absolute_url }}" class="read-more">ادامه خواندن</a>
                                        </div><!-- End .entry-content -->
                                    </div><!-- End .entry-body -->
                                </div><!-- End .col-md-7 -->
                            </div><!-- End .row -->
                        </article><!-- End .entry -->
                    {% endfor %}
                    <nav aria-label="Page navigation ">
                        <ul class="pagination ml-2">
                            {% if page_obj.has_previous %}
                                <li class="page-item ">
                                    <a class="page-link page-link-prev" aria-label="Previous" tabindex="-1"
                                       href="?page={{ page_obj.previous_page_number }}">
                                        <span aria-hidden="true">
                                            <i class="icon-long-arrow-right"></i>
                                            قبلی
                                        </span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link page-link-prev" href="#" aria-label="Previous"
                                       aria-disabled="true">
                                        <span aria-hidden="true">
                                            <i class="icon-long-arrow-right"></i>
                                            قبلی
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="?page={{ i }}">
                                            {{ i }}
                                        </a>
                                    </li>
                                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                    <li class="page-item" aria-current="page">
                                        <a class="page-link" href="?page={{ i }}">
                                            {{ i }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item ">
                                    <a class="page-link page-link-next" href="?page={{ page_obj.next_page_number }}"
                                       aria-label="Next">
                                         <span aria-hidden="true">بعدی
                                        <i class="icon-long-arrow-left"></i>
                                    </span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled " aria-label="Next">
                                    <a class="page-link page-link-next" href="#"
                                       aria-label="Next" aria-disabled="true">
                                    <span aria-hidden="true">بعدی
                                        <i class="icon-long-arrow-left"></i>
                                    </span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div><!-- End .col-lg-9 -->

                <aside class="col-lg-3">
                    <div class="sidebar">
                        <div class="widget widget-search">
                            <h3 class="widget-title">جستجو</h3><!-- End .widget-title -->

                            <form action="#">
                                <label for="ws" class="sr-only">جستجوی اخبار</label>
                                <input type="search" class="form-control" name="ws" id="ws"
                                       placeholder="جستجوی خبر مورد نظر" required>
                                <button type="submit" class="btn"><i class="icon-search"></i><span
                                        class="sr-only">جستجو</span></button>
                            </form>
                        </div><!-- End .widget -->

                        <div class="widget widget-cats">
                            <h3 class="widget-title">دسته بندی ها</h3><!-- End .widget-title -->

                            <ul>
                                {% for category in categories %}
                                    <li>
                                        <a href="{% url "blog:category" category.0 %}">
                                            {{ category.0 }}
                                            <span>{{ category.1 }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div><!-- End .widget -->

                        <div class="widget">
                            <h3 class="widget-title">محبوب ترین اخبار</h3><!-- End .widget-title -->
                            <ul class="posts-list">
                                {% for post in popular_post %}
                                    <li>
                                        <figure>
                                            <a href="{{ post.get_absolute_url }}">
                                                <img src="{{ post.picture.url }}" alt="post">
                                            </a>
                                        </figure>

                                        <div>
                                            <span>{{ post.pub_date|jformat:'%Y/%m/%d' }}</span>
                                            <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul><!-- End .posts-list -->
                        </div><!-- End .widget -->


                    </div><!-- End .sidebar -->
                </aside><!-- End .col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->

{% endblock page_content %}



{% block content2 %}
    <div id="" class="wide">
        <div class="filter row">
            <div class="blog-categoty col-4">
                <a type="button" class="btn btn-dark btn-sm btn-tag" href="{% url "blog:home" %}">همه</a>
                {% for category in categories %}
                    <a type="button" class="btn btn-light btn-sm btn-tag"
                       href="{% url "blog:category" category.name %}">{{ category.name }}</a>
                {% endfor %}
            </div>
            <div class="blog-tag col-8">
                <a type="button" class="btn btn-dark btn-sm btn-tag" href="{% url "blog:home" %}">همه</a>
                {% for tag in tags %}
                    <a type="button" class="btn btn-light btn-sm btn-tag"
                       href="{% url "blog:tag" %}?tag={{ tag }}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div class="row">
            {% for post in page_obj %}
                <div class="col-4 blog-single">
                    <div class="blog-image">
                        <a class="post-title" href="{{ post.get_absolute_url }}"><h1>{{ post.title }}</h1></a>
                        <strong class="post-date">{{ post.pub_date|jformat:'%Y/%m/%d' }}</strong>
                        <a href="{{ post.get_absolute_url }}">
                            <img class="" src="{{ post.picture.url }}" alt="">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 mt-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center mb-0">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.previous_page_number }}"><i
                                    class="fa fa-chevron-right"
                                    aria-hidden="true"></i></a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link disabled"><i
                                    class="fa fa-chevron-right"
                                    aria-hidden="true"></i></a></li>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    {#                                        <span>{{ i }} <span class="sr-only">(current)</span></span>#}
                                </li>
                            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i
                                    class="fa fa-chevron-left"
                                    aria-hidden="true"></i></a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link disabled"><i
                                    class="fa fa-chevron-left"
                                    aria-hidden="true"></i></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}