{% load i18n %}
{% spaceless %}
    <div class="form-group my-3">
        <div class="input-group ">
            <div class="input-group-prepend">
                <label class="control-label">{% translate "Enter security code" %} </label>
                <img src="{{ image }}" alt="captcha" class="captcha mx-2"/>
            </div>
            {% for widget in widget.subwidgets %}
                {% include widget.template_name %}
            {% endfor %}
        </div>
    </div>
{% endspaceless %}