{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block page_header %}

{% endblock page_header %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">خانه</a></li>
                <li class="breadcrumb-item"><a href="#">صفحات</a></li>
                <li class="breadcrumb-item active" aria-current="page">404</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
{% endblock breadcrumb %}

{% block page_content %}
    <div class="error-content text-center"
         style="background-image: url('{% static "core/en/images/backgrounds/error-bg.jpg" %}')">
        <div class="container">
            <h1 class="error-title">خطای 404</h1><!-- End .error-title -->
            <p class="text-center">متاسفانه صفحه مورد نظر شما در سایت وجود ندارد</p>
            <p class="text-center">
                {% if exception != "Resolver404" %}
                    {{ exception }}
                {% endif %}
            </p>
            <a href="{% url "core:home" %}" class="btn btn-outline-primary-2 btn-minwidth-lg">
                <span>بازگشت به صفحه اصلی</span>
                <i class="icon-long-arrow-left"></i>
            </a>
        </div><!-- End .container -->
    </div><!-- End .error-content text-center -->`

{% endblock page_content %}