{% extends "core/base.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}


{% block page_content %}
    <div class="page-content">
        <div class="container">
            <div class="toolbox">
                <div class="toolbox-left">
                    <a href="#" class="sidebar-toggler"><i class="icon-bars"></i>فیلترها</a>
                </div><!-- End .toolbox-left -->

                <div class="toolbox-center">
                    <div class="toolbox-info">
                        نمایش <span>12 از 56</span> محصول
                    </div><!-- End .toolbox-info -->
                </div><!-- End .toolbox-center -->

                <div class="toolbox-right">
                    <div class="toolbox-sort">
                        <label for="sortby">مرتب سازی بر اساس : </label>
                        <div class="select-custom">
                            <form id="sort-form" method="get" onchange="productListFormSend()">
                                <select name="sortby" class="form-control">
                                    {% for strategy in order_strategy %}
                                        <option
                                                value="{{ strategy.strategy }}"
                                                {% if strategy.strategy == request.GET.sortby %}selected="selected"{% endif %}
                                        >
                                            {{ strategy.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>

                        </div>
                    </div><!-- End .toolbox-sort -->
                </div><!-- End .toolbox-right -->
            </div><!-- End .toolbox -->

            <div class="products">
                <div class="row">
                    {% for product in product_list %}
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                            <div class="product">
                                <figure class="product-media">
                                    <span class="product-label label-new"
                                          style="background-color: {{ product.label_color }}">{{ product.label_text }}</span>
                                    <a href="{% url "store:product-code-slug" pk=product.code slug=product.slug %}">
                                        <img src="{{ product.introduction_picture.url }}"
                                             alt="{{ product.introduction_picture.alt }}"
                                             class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#"
                                           class="btn-product-icon btn-wishlist btn-expandable"><span>افزودن
                                                    به لیست علاقه مندی</span></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action action-icon-top">
                                        <a href="#" class="btn-product btn-cart"><span>افزودن به سبد</span></a>
                                        <a href="popup/quickView.html" class="btn-product btn-quickview"
                                           title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">
                                            {{ product.category.name }}
                                        </a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title">
                                        <a href="{% url "store:product-code-slug" pk=product.code slug=product.slug %}">
                                            {{ product.title }}
                                        </a>
                                    </h3>
                                    <!-- End .product-title -->
                                    <div class="product-price">
                                        {{ product.price|intcomma:False  }} تومان
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: {{ product.rate }}%;"></div>
                                            <!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( {{ product.reviws }} دیدگاه )</span>
                                    </div><!-- End .rating-container -->
                                    {#                                    <div class="product-nav product-nav-dots">#}
                                    {#                                        <a href="#" style="background: #cc9966;"><span class="sr-only">نام#}
                                    {#                                                    رنگ</span></a>#}
                                    {#                                        <a href="#" class="active" style="background: #ebebeb;"><span#}
                                    {#                                                class="sr-only">نام رنگ</span></a>#}
                                    {#                                    </div><!-- End .product-nav -->#}
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                    {% endfor %}
                </div><!-- End .products -->
                <form id="filter-form" method="get">

                    <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
                    <aside class="sidebar-shop sidebar-filter">
                        <div class="sidebar-filter-wrapper">

                            <div class="widget widget-clean">
                                <a href="#" onclick="productListFormSend()" class="sidebar-filter-clear mr-0">اعمال
                                    فیلتر</a>
                                <a href="{% url "store:product-list" %}" class="sidebar-filter-clear">پاک کردن همه</a>
                            </div><!-- End .widget -->
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
                                       aria-controls="widget-1">
                                        دسته بندی
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-1">
                                    <div class="widget-body">
                                        <div class="filter-items filter-items-count">
                                            {% for field in category %}
                                                <div class="filter-item">
                                                    <div class="custom-control custom-checkbox">
                                                        <input name="{{ field.name }}" {{ field.check }}
                                                               value="{{ field.value }}" type="checkbox"
                                                               class="custom-control-input"
                                                               id="cat-{{ forloop.counter }}">
                                                        <label class="custom-control-label"
                                                               for="cat-{{ forloop.counter }}">{{ field.value }}</label>
                                                    </div><!-- End .custom-checkbox -->
                                                    <span class="item-count">{{ field.count }}</span>
                                                </div><!-- End .filter-item -->
                                            {% endfor %}
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
                                       aria-controls="widget-1">
                                        برند
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-1">
                                    <div class="widget-body">
                                        <div class="filter-items filter-items-count">
                                            {% for field in brand %}
                                                <div class="filter-item">
                                                    <div class="custom-control custom-checkbox">
                                                        <input name="{{ field.name }}" {{ field.check }}
                                                               value="{{ field.value }}" type="checkbox"
                                                               class="custom-control-input"
                                                               id="brand-{{ forloop.counter }}">
                                                        <label class="custom-control-label"
                                                               for="brand-{{ forloop.counter }}">{{ field.value }}</label>
                                                    </div><!-- End .custom-checkbox -->
                                                    <span class="item-count">{{ field.count }}</span>
                                                </div><!-- End .filter-item -->
                                            {% endfor %}
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true"
                                       aria-controls="widget-5">
                                        قیمت
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-5">
                                    <div class="widget-body">
                                        <div class="filter-price">
                                            <div class="filter-price-text">
                                                محدوده قیمت :
                                                <span id="filter-price-range"></span>
                                            </div><!-- End .filter-price-text -->
                                            <p>
                                                <label for="amount">Price range:</label>
                                                <input type="text" id="amount" readonly
                                                       style="border:0; color:#f6931f; font-weight:bold;">
                                                <input type="hidden" name="price_gte" id="price_gte">
                                                <input type="hidden" name="price_lte" id="price_lte">
                                            </p>
                                            <div id="slider-range"></div>
                                            <script>
                                                $(function () {
                                                    $("#slider-range").slider({
                                                        range: true,
                                                        step:1000,
                                                        min: {{ price_min }},
                                                        max: {{ price_max }},
                                                        values: [{{price_gte  }}, {{ price_lte }}],
                                                        slide: function (event, ui) {
                                                            $("#amount").val("" + Humanize.intComma(ui.values[0]) + " -  " + Humanize.intComma(ui.values[1]) + " تومان");
                                                            $("#price_gte").val(ui.values[0])
                                                            $("#price_lte").val(ui.values[1])
                                                        }

                                                    });
                                                    $("#amount").val(" " +
                                                        Humanize.intComma($("#slider-range").slider("values", 0)) +
                                                        " - " +
                                                        Humanize.intComma($("#slider-range").slider("values", 1))
                                                        + " تومان");
                                                });
                                            </script>


                                            <!-- End #price-slider -->
                                        </div><!-- End .filter-price -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->
                        </div><!-- End .sidebar-filter-wrapper -->
                    </aside><!-- End .sidebar-filter -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .page-content -->
{% endblock %}