p .help {
    color: #ce8888;
}

.reply-prodeuct {
    /* background-color: #fafafa; */
    padding: 4rem 3rem 5rem;
    margin-bottom: 2rem;
}

.table.table-cart .quantity-col {
    width: 280px;
}

.quantity-input {
    transform: scale(0.8);
    color: #CCA7B5;
}

.pgage-deactive {
    pointer-events: none;
    opacity: 0.3;
    filter: alpha(opacity=50);
    zoom: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

.whished:before {
    content: '\f233' !important;
    color: #c96;
    padding-left: 1.1rem;
    pointer-events: none !important;
    cursor: none !important;
    font-family: "molla";
    font-size: 1.8rem;
}

.whished {
    cursor: default !important;
}
.stock-available{
    color: #A6C784 !important;
}
.stock-low{
    color: #e1a02a !important;
}
.stock-out{
    color: #EF83A5 !important;
}
.btn-cart:before {
    color: #c96 !important;
    content: '\e812' !important;
}