p .help {
    color: #ce8888;
}

.reply-prodeuct {
    /* background-color: #fafafa; */
    padding: 4rem 3rem 5rem;
    margin-bottom: 2rem;
}

.table.table-cart .quantity-col {
    width: 280px;
}

.quantity-input {
    transform: scale(0.8);
    color: #CCA7B5;
}

.pgage-deactive {
    pointer-events: none;
    opacity: 0.3;
    filter: alpha(opacity=50);
    zoom: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}