{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block page_header %}

{% endblock page_header %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">خانه</a></li>
                <li class="breadcrumb-item"><a href="#">صفحات</a></li>
                <li class="breadcrumb-item active" aria-current="page">درباره ما</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
{% endblock breadcrumb %}

{% block page_content %}
    <div class="container">
        <div class="page-header page-header-big text-center"
             style="background-image: url({{ page.main_picture.url }})">
            <h1 class="page-title text-white">درباره ما<span class="text-white">درباره فروشگاه ما</span></h1>
        </div><!-- End .page-header -->
    </div><!-- End .container -->

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <h2 class="title">دید ما</h2><!-- End .title -->
                    <p>
                        {{ page.our_vision_text }}
                    </p>
                </div><!-- End .col-lg-6 -->

                <div class="col-lg-6">
                    <h2 class="title">ماموریت ما</h2><!-- End .title -->
                    <p>
                        {{ page.our_mission_text }}
                    </p>
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->

            <div class="mb-5"></div><!-- End .mb-4 -->
        </div><!-- End .container -->

        <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mb-3 mb-lg-0">
                        <h2 class="title">ما که هستیم</h2><!-- End .title -->
                        <p class="lead text-primary mb-3">
                            {{ page.who_we_are_text_1 }}
                        </p><!-- End .lead text-primary -->
                        <p class="mb-2">
                            {{ page.who_we_are_text_2 }}
                        </p>

                        <a href="{% url "blog:home" %}"
                           class="btn btn-sm btn-minwidth btn-outline-primary-2 float-right">
                            <span>مشاهده دیگر خبرها</span>
                            <i class="icon-long-arrow-left"></i>
                        </a>
                    </div><!-- End .col-lg-5 -->

                    <div class="col-lg-6 offset-lg-1">
                        <div>
                            <img src="{{ page.who_we_are_picture.url }}" alt="" class="about-img-front">
                        </div><!-- End .about-images -->
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .bg-light-2 pt-6 pb-6 -->

        {% if page.is_brand_active %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="brands-text">
                            <h2 class="title">{{ page.brand_title }}</h2>
                            <!-- End .title -->
                            <p>{{ page.brand_description }}</p>
                        </div><!-- End .brands-text -->
                    </div><!-- End .col-lg-5 -->
                    <div class="col-lg-7">
                        <div class="brands-display">
                            <div class="row justify-content-center">
                                {% for brand in brands %}
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="brand">
                                            <img src="{{ brand.picture.url }}" alt="{{ brand.brand_name }}">
                                        </a>
                                    </div><!-- End .col-sm-4 -->
                                {% endfor %}
                            </div><!-- End .row -->
                        </div><!-- End .brands-display -->
                    </div><!-- End .col-lg-7 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        {% endif %}
        <div class="mb-2"></div><!-- End .mb-2 -->
        <div class="about-testimonials bg-light-2 pt-6 pb-6">
            <div class="container">
                <h2 class="title text-center mb-3">{{ page.customer_reviews_title }}</h2>
                <!-- End .title text-center -->

                <div class="owl-carousel owl-simple owl-testimonials-photo" data-toggle="owl" data-owl-options='{
                                "nav": false,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "rtl": true,
                            "responsive": {
                                    "1200": {
                                        "nav": true
                                    }
                                }
                            }'>
                    {% for review in reviews %}
                        <blockquote class="testimonial text-center">
                            <img src="{{ review.picture.url }}" alt="user">
                            <p>{{ review.review }}</p>
                            <cite>
                                {{ review.customer_name }}
                            </cite>
                        </blockquote>
                    {% endfor %}
                </div><!-- End .testimonials-slider owl-carousel -->
            </div><!-- End .container -->
        </div><!-- End .bg-light-2 pt-5 pb-6 -->
    </div><!-- End .page-content -->

{% endblock page_content %}